* {
  box-sizing: border-box;
}

header {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: lightblue;
}

header img {
  width: 4rem;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 100%;
  padding: .25rem;
  background-color: yellow;
}

header h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.25rem;
  color: blue;
  margin: .67rem 0;
}

header h2 {
  font-family: 'Raleway', sans-serif;
  font-size: .875rem;
  text-transform: uppercase;
  color: red;
  letter-spacing: .1rem;
}